body {
    color: rebeccapurple;
    background-color: lightblue;
    height: 100vh;
}

.container mt-5 .container {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 60%;
    margin-top: 50px;
}

