{% extends 'base.html' %}

{% block content %}
<h1>DANH SÁCH GIA SƯ GỬI YÊU CẦU BÀI ĐĂNG</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>MÃ GIA SƯ</th>
                        <th>HỌ VÀ TÊN</th>
                        <th>GIỚI TÍNH</th>
                        <th>SỐ ĐIỆN THOẠI</th>
                        <th>HỌC VẤN</th>
                        <th>CHỌN GIA SƯ DẠY</th> <!-- Thêm cột mới -->
                    </tr>
                </thead>
                <tbody>
                    {% for tutor_info in tutors_info %}
                    <tr>
                        <td>{{ tutor_info.tutor_id }}</td>
                        <td>{{ tutor_info.name }}</td>
                        <td>{{ tutor_info.sex }}</td>
                        <td>{{ tutor_info.phone_tutor }}</td>
                        <td>{{ tutor_info.education }}</td>
                        <td> <!-- Thêm cột mới -->
                            <form action="{{ url_for('select_tutor', class_id=class_id, tutor_id=tutor_info.tutor_id) }}" method="POST">
                                <button type="submit" class="btn btn-primary">Chọn</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
