{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">My Posts</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Class ID</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Class Student</th>
                    <th scope="col">Booking Date</th>
                    <th scope="col">List Tutor</th>
                </tr>
            </thead>
            <tbody>
                {% for class in student_classes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ class[0] }}</td>
                    <td>{{ class[4] }}</td>
                    <td>{{ class[3] }}</td>
                    <td>{{ class[8] }}</td>
                    <td>
                        {% if class[7] == 'Đã có gia sư' %}
                            Đã chọn gia sư
                        {% else %}
                            <a href="{{ url_for('list_tutor', class_id=class[0]) }}" class="btn btn-primary">Xem danh sách gia sư</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
