
{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="height: 60vh;">
    <div class="text-center mb-4">
        <h2>Đăng nhập tài khoản</h2>
    </div>
    <form action="{{ url_for('login') }}" method="post">
        {% if message is defined and message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>    
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
        <div class="mt-3">
            <p>Bạn đã có tài khoản chưa?</p>
            <p class="mb-0"><a href="{{ url_for('registerS') }}">Đăng kí tài khoản gia sư</a></p>
            <p class="mb-0"><a href="{{ url_for('registerT') }}">Đăng kí tài khoản học sinh</a></p>
        </div>
    </form>
</div>
{% endblock %}

