{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h2>Đăng kí làm gia sư</h2>
    </div>
    <form action="{{ url_for('registerT') }}" method="post">
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        <div class="mb-3">
            <label for="name" class="form-label">Họ và tên:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>
        <div class="mb-3">
            <label for="phone_tutor" class="form-label">Số điện thoại:</label>
            <input type="text" class="form-control" id="phone_tutor" name="phone_tutor" placeholder="Enter phone tutor" required>
        </div>
        <div class="mb-3">
            <label for="date_of_birth_tutor" class="form-label">Ngày tháng năm sinh(yyyy-mm-dd):</label>
            <input type="text" class="form-control" id="date_of_birth_tutor" name="date_of_birth_tutor" placeholder="Enter date of birth" required>
        </div>
        <div class="mb-3">
            <label for="education" class="form-label">Mô tả học vấn:</label>
            <textarea class="form-control" id="education" name="education" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Giới tính:</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sex" id="male" value="male">
                <label class="form-check-label" for="male">nam</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sex" id="female" value="female">
                <label class="form-check-label" for="female">nữ</label>
            </div>
        </div>
        <input type="hidden" name="role" value="tutor">
        <button type="submit" class="btn btn-primary">Đăng kí</button>
        <div class="mt-3">
            <p class="mb-0">Bạn đã sẵn sàng đăng nhập chưa? <a href="{{ url_for('login') }}">Đăng nhập ngay</a></p>
        </div>
    </form>
</div>
{% endblock %}
