/* đây là nơi để khai báo biến css */
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

/* box-sizing sẽ làm cho width và heigh của box sẽ không đổi
   khi thay đổi border padding , ... */  
* { /* "*" áp dụng cho các phần từ trên web */
    /* phần tử con của phần từ gọi box-sizing thì được kế thừa nó */
    box-sizing: inherit; 
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* css tương thích cho nhiều loại khung hình */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}
