
body {
    font-family: 'Roboto', sans-serif; /* Sử dụng font Roboto */
    margin: 0;
    padding: 0;
}

.header {
    height: 100px; /* Giảm chiều cao của header */
    background-image: linear-gradient(0, #00aacc, #004cff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Thêm padding để tách biệt header với nội dung */
}

.header__title {
    margin: 0;
    font-size: 24px;
    color: white; /* Màu chữ trắng */
}

.header__navbar-list {
    display: flex;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.header__navbar-item {
    margin: 0 10px; /* Tách biệt các mục trong navbar */
    font-size: 18px; /* Kích thước chữ lớn hơn */
    color: white; /* Màu chữ trắng */
}

.container__main-controls {
    display: flex;
    justify-content: center; /* Canh giữa các phần tử trong container__main-controls */
    align-items: center;
    margin-top: 50px; /* Khoảng cách từ top */
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.container__main-choose-image-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
}


.container__main-left-button,
.container__main-right-button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container__main-choose-image-button {
    background-color: #00aacc;
    color: white;
}

.container__main-choose-image-button:hover,
.container__main-left-button:hover,
.container__main-right-button:hover {
    background-color: #0077b6; /* Màu khi hover */
}
