{% extends "base.html" %}

{% block content %}
<div class="head__text">
    <h1>Thông tin chi tiết lớp học</h1>
</div>
<div id="container__detail">
    <section id="detail">
        <div >
            <h2>Yêu cầu : </h2>
            <p><strong>Lớp:</strong> {{ class_info.class_student }}</p>
            <p><strong>Môn học:</strong> {{ class_info.subject }}</p>
            <p><strong>Địa chỉ:</strong> {{ class_info.address }}</p>
            <p><strong>Giá:</strong> {{ class_info.price }}/buổi, 3 buổi/tuần</p>
            <p><strong>Mô tả:</strong> {{ class_info.description }}</p>
            <form action="" method="post">
                <button class="btn btn-success" type="submit">Đăng kí nhận lớp</button>
            </form>
        </div>
    </section >
        
    <section id="map">
        <h2> search map : </h2>
    <div>
        <label for="searchInput">Nhập địa chỉ:</label>
        <input type="text" id="searchInput" placeholder="Nhập địa chỉ cần tìm">
        <button onclick="searchAddress()">Tìm kiếm</button>
    </div>
    </section>
</div>

{% endblock %}