{% extends "base.html" %}

{% block content %}
<div class="head__text">
    <h1>Thông tin chi tiết lớp học</h1>
</div>
<div id="container__detail">
    <div id="detail">
        <h2>Yêu cầu : </h2>
        <p><strong>Lớp:</strong> {{ class_info.class_student }}</p>
        <p><strong>Môn học:</strong> {{ class_info.subject }}</p>
        <p><strong>Địa chỉ:</strong> {{ class_info.address }}</p>
        <p><strong>Giá:</strong> {{ class_info.price }}/buổi, {{class_info.session_of_per_week}}/tuần</p>
        <p><strong>Mô tả:</strong> {{ class_info.description }}</p>
        <form action="{{ url_for('register_class', class_id=class_info.class_id) }}" method="post">
            <button class="btn btn-success" type="submit">Đăng kí nhận lớp</button>
        </form>
    </div>
    <div id="map">
        <h2>Search map:</h2>
        <div>
            <label for="searchInput">Nhập địa chỉ:</label>
            <input type="text" id="searchInput" placeholder="Nhập địa chỉ cần tìm">
            <button onclick="searchAddress()">Tìm kiếm</button>
        </div>
        <div id="myMap" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=loadMap&key=AlVCmlao0aRTzbkUhlFkw93FEhYNcJGACqHM75KIBAEgrFs2lFMp5v_O7WqLbTTW' async defer></script>
<script type='text/javascript'>
    var map;

    function loadMap() {
        var mapOptions = {
            credentials: 'AlVCmlao0aRTzbkUhlFkw93FEhYNcJGACqHM75KIBAEgrFs2lFMp5v_O7WqLbTTW',
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            center: new Microsoft.Maps.Location(21.0278, 105.8342), // Tọa độ trung tâm
            zoom: 12
        };

        map = new Microsoft.Maps.Map(document.getElementById('myMap'), mapOptions);
        Microsoft.Maps.Events.addHandler(map, 'click', searchLocation);
    }

    function searchLocation(e) {
        var point = new Microsoft.Maps.Point(e.getX(), e.getY());
        var loc = e.target.tryPixelToLocation(point);
        var searchManager = new Microsoft.Maps.Search.SearchManager(map);

        var requestOptions = {
            bounds: map.getBounds(),
            where: loc.latitude + ', ' + loc.longitude,
            callback: function (answer, userData) {
                map.setView({ bounds: answer.results[0].bestView });
                var pin = new Microsoft.Maps.Pushpin(loc, {
                    title: answer.results[0].name,
                    subTitle: answer.results[0].address.formattedAddress,
                    text: '1'
                });
                map.entities.push(pin);
            }
        };

        searchManager.geocode(requestOptions);
    }

    function searchAddress() {
        var searchQuery = document.getElementById('searchInput').value;
        Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
            var searchManager = new Microsoft.Maps.Search.SearchManager(map);
            var requestOptions = {
                bounds: map.getBounds(),
                where: searchQuery,
                callback: function (answer, userData) {
                    if (answer && answer.results && answer.results.length > 0) {
                        var loc = answer.results[0].location;
                        map.setView({ center: loc });
                        var pin = new Microsoft.Maps.Pushpin(loc, {
                            title: answer.results[0].name,
                            subTitle: answer.results[0].address.formattedAddress,
                            text: '1'
                        });
                        map.entities.push(pin);
                    } else {
                        alert('Không tìm thấy địa chỉ');
                    }
                }
            };
            searchManager.geocode(requestOptions);
        });
    }
</script>
{% endblock %}
