{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">DANH SÁCH LỚP ĐÃ NHẬN</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">LỚP</th>
                    <th scope="col">MÔN HỌC</th>
                    <th scope="col">NGÀY GỬI YÊU CẦU</th>
                    <th scope="col">SỐ ĐIỆN THOẠI</th>
                </tr>
            </thead>
            <tbody>
            {% for class in classes_db %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{ class.class_student }}</td>
                    <td>{{ class.subject }}</td>
                    <td>{{ class.booking_date }}</td>
                    <td>{{ class.phone_student }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h1 class="my-4">DANH SÁCH YÊU CẦU GỬI ĐI</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">MÃ LỚP</th>
                    <th scope="col">MÃ HỌC SINH</th>
                    <th scope="col">LỚP</th>
                    <th scope="col">MÔN HỌC</th>
                    <th scope="col">ĐỊA CHỈ</th>
                    <th scope="col">TRẠNG THÁI</th>
                </tr>
            </thead>
            <tbody>
            {% for cldb2 in classes_db2 %} 
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{ cldb2.class_id }}</td>
                    <td>{{ cldb2.student_id }}</td>
                    <td>{{ cldb2.class_student }}</td>
                    <td>{{ cldb2.subject }}</td>
                    <td>{{ cldb2.address }}</td>
                    <td>{{ cldb2.status }}</td> <!-- Cột trạng thái -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
