{% extends "base.html" %}

{% block content %}
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">class</th>
        <th scope="col">subject</th>
        <th scope="col">booking date</th>
      </tr>
    </thead>
    <tbody>
    {% for class in classes_db %} 
      <tr>
        <th scope="row">*</th>
        <td>{{ class.class_student }}</td>
        <td>{{ class.subject}}</td>
        <td>{{class.booking_date}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}