{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

  <!-- navbar admin -->
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
        type="button" role="tab" aria-controls="pills-home" aria-selected="true">Quản lý nạp tiền</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
        type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Quản lý tài khoản</button>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{{url_for('logout')}}">Đăng xuất</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
      tabindex="0">
      <div class="container">
        <h1 class="my-5">Danh sách quản lý gia sư</h1>
        
        <!-- Bảng hiển thị danh sách gia sư -->
        <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tutor ID</th>
              <th>Tên</th>
              <th>Email</th>
              <th>Số điện thoại</th>
              <th>Trình độ</th>
              <th>Số dư</th>
              <th>Minh chứng</th>
              <th>Cộng tiền</th>
            </tr>
          </thead>
          <tbody>
            {% for tutor_info in tutors_info %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ tutor_info[2] }}</td>
              <td>{{ tutor_info[0] }}</td>
              <td>{{ tutor_info[1] }}</td>
              <td>{{ tutor_info[3] }}</td>
              <td>{{ tutor_info[5] }}</td>
              <td>{{ tutor_info[6] }}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal"
                  data-target="#proofModal{{ tutor_info[2] }}">
                  Ảnh minh chứng
                </button>
                <!-- Modal -->
                <div class="modal fade" id="proofModal{{ tutor_info[2] }}" tabindex="-1" role="dialog"
                  aria-labelledby="proofModalLabel{{ tutor_info[2] }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="proofModalLabel{{ tutor_info[2] }}">Ảnh Minh Chứng Thanh Toán</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="{{tutor_info[7]}}" class="img-fluid" alt="Ảnh Minh Chứng">
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <form action="#" method="POST">
                  <input type="hidden" name="tutor_id" value="{{ tutor_info[2] }}">
                  <!-- Thêm input ẩn để lưu trữ tutor_id -->
                  <input type="number" name="amount" class="form-control mb-2" placeholder="Số tiền cần cộng" required>
                  <button type="submit" class="btn btn-success">Cộng tiền</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      <div class="container">
      <table class="table">
          <h1 class="my-5">Danh sách tài khoản</h1>
          
          <!-- table -->
          <table class="table">
            <thead>
              <tr>
                <th>User id</th>
                <th>Tên tài khoản</th>
                <th>Email</th>
                <th>Vai trò</th>
                <th>Xóa tài khoản</th>
              </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
              <td>{{user[0]}}</td>
              <td>{{user[1]}}</td>
              <td>{{user[2]}}</td>
              <td>{{user[5]}}</td>
              <td>
                <form action="#" method="POST">
                  <input type="hidden" name="user_id" value="{{user[0]}}">
                  <button type="submit" class="btn btn-danger">Xóa tài khoản</button>
                </form>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}
