<!DOCTYPE html>
<html>
<head>
    <title>Tutor app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- code cho phần navbar -->
    <div>
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">tutor website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- navbar items  -->
          <ul class="navbar-nav mr-auto">
            <!-- logic navbar -->
            {% if session['loggedin'] == True %}
               {% if session['role'] == 'student'%} 
                  <li class="nav-item">
                   <a class="nav-link" href="{{url_for('home')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('profile')}}">My profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('post')}}" >Create post</a>
                  </li>
                  <li class="nav-item">
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                  </li>
               {% else %}
                  <li class="nav-item">
                   <a class="nav-link" href="{{url_for('home')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('Class')}}">Class</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('profile')}}">My profile</a>
                  </li>
                  <li class="nav-item">
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                  </li>
               {% endif %}
           
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('registerS')}}">Register as a student</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('registerT')}}" >Register as a tutor</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
</div>
</head>
<body>
  <!-- code này sẽ hiện phần cảnh báo -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for cat, mess in messages %}
          {% if cat == "error" %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ mess }}
              <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          {% endif %}
      {% endfor %}
      {% for cat, mess in messages %}
          {% if cat == "success" %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ mess }}
              <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          {% endif %}
      {% endfor %}
  {% endif %}
{% endwith %}

<!-- code cho các lớp kế thừa nó -->
  <div>
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
    copyright by QuyenCanh-QuanPham 
    {% endblock %}
  </div>

  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  <!-- Thêm Bootstrap JS và Popper.js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
