{% extends "base.html" %}

{% block content %}


  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">My web</span>
</nav>
<!-- new -->
<div class="container">
    <h2>Bộ lọc</h2>
<div class="row align-items-center">
    <div class="col">
        <label for="select" class="form-label">Mon Hoc</label>
        <select class="form-select form-check-inline">
            <option>toan</option>
            <option>van</option>
            <option>ngoai ngu</option>
        </select>
    </div>
    <div class="col">
        <label for="select" class="form-label">Lop</label>
        <select class="form-select form-check-inline">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>

    <div class="col">
        <label for="select" class="form-label">Yeu cau</label>
        <select class="form-select form-check-inline">
            <option>Sinh Vien</option>
            <option>Giao Vien</option>
        </select>
    </div>

    <div class="col">
        <label for="select" class="form-label">Khu Vuc</label>
        <select class="form-select form-check-inline">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary">Lọc</button>
    </div>
</div>
</div>



{% endblock %}
