{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Đăng ký trở thành gia sư</h2>
    <form action="registerTutor" method="post" enctype="multipart/form-data">
        <!-- Tên gia sư -->
        <div class="form-group">
            <label for="name">Họ và tên:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>


        <!-- Số điện thoại gia sư -->
        <div class="form-group">
            <label for="phone">Số điện thoại:</label>
            <input type="tel" class="form-control" id="phone" name="phone" required>
        </div>


        <!-- Mô tả kinh nghiệm -->
        <div class="form-group">
            <label for="experience">Mô tả kinh nghiệm:</label>
            <textarea class="form-control" id="experience" name="experience" rows="4" required></textarea>
        </div>

        <!-- Gửi yêu cầu -->
        <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>

    </form>

    
</div
{% endblock %}