{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Cập Nhật Thông Tin Người Dùng</h4>
                </div>
                <div class="card-body">
                    <form action="/update" method="post">
                        <input type="hidden" name="id" value="">
                        <div class="form-group">
                            <label for="name">Tên Người Dùng:</label>
                            <input type="text" class="form-control" id="name" name="name" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Điện Thoại:</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="registered_year">Năm Sinh: </label>
                            <input type="text" class="form-control" id="registered_year" name="registered_year" value="" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block">Cập Nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}