{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Image Generation App</h1>
    <a href="{{url_for('login')}}">login</a><br>
    <a href="{{url_for('register')}}">register</a><br>
    <form>
        <div class="form-group">
            <p>Nhập text vào đây để gen ra ảnh nhé: </p>
            <textarea name="prompt" rows="3" cols="50" style="font-size: 16pt"></textarea>
        </div>
    </form>

    <button id="generate-button" class="btn btn-primary">Generate Image</button>
</div>

{% endblock %}
