{% extends "base.html" %}

{% block content %}


  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Image Generation App</span>
</nav>



<div class="container mt-5">
    <h1 class="mb-4">Image Generation App</h1>
    <form>
        <div class="form-group">
            <p>Nhập text vào đây để gen ra ảnh nhé: </p>
            <textarea name="prompt" rows="3" cols="50" style="font-size: 16pt"></textarea>
        </div>
    </form>

    <button id="generate-button" class="btn btn-primary">Generate Image</button>
</div>

{% endblock %}
